@page
@model ERP20200707.Pages.TjgCgjds.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<p>
        <a asp-page="Create">Create New</a>
    </p>*@
<form method="get" class="form-inline">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div>
        <label asp-for="@Model.StartDate" class="control-label"></label>
        <input asp-for="@Model.StartDate" class="form-control" />
        <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="@Model.EndDate" class="control-label"></label>
        <input asp-for="@Model.EndDate" class="form-control" />
        <span asp-validation-for="@Model.EndDate" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="@Model.Warehouse" class="form-check-label"></label>
        <select asp-for="Warehouse" asp-items="Model.Warehouses" class="form-control">
            <option value=""></option>
        </select>
        <span asp-validation-for="@Model.Warehouses" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="@Model.InventoryCategory" class="form-check-label"></label>
        <select asp-for="@Model.InventoryCategory" asp-items="Model.InventoryCategorys" class="form-control">
            <option value=""></option>
        </select>
        <span asp-validation-for="@Model.Warehouses" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary ml-2">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TjgCgdj[0].Autoid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TjgCgdj[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TjgCgdj[0].Whcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TjgCgdj[0].Cgrq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TjgCgdj[0].Cinvcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TjgCgdj[0].Iunitcost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TjgCgdj[0].Iquantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TjgCgdj[0].Iprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TjgCgdj[0].Lautoid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TjgCgdj[0].Lid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TjgCgdj[0].Liunitcost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TjgCgdj)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Autoid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Whcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cgrq)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cinvcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Iunitcost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Iquantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Iprice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lautoid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Liunitcost)
                </td>
                @*<td>
                        <a asp-page="./Edit" asp-route-id="@item.Primaryid">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Primaryid">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Primaryid">Delete</a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>
